<div class="row">
  <div class="large-12">
    <div style="text-align:center">
      <br />
      <br />
      <br />
      <h1>Hello</h1>
      <input style="width:25%;margin:0 auto;text-align:center;" type="text" placeholder="Identifier" /><br />
      <button id="share-btn" class="button round">Share A Screen</button>
      <button id="view-btn" class="button round">View A Screen</button>
      <br />
    </div>
  </div>
</div>
<div id="screen-video" style="max-width:100%"></div>
