<% if @screen_id %>
<div class="row">
  <div class="large-12" id="ui">
    <br />
    <div class="viewing-caption">Viewing a screen called <strong><%= @screen_id %></strong></div>
    <hr />
    <div id="remote-video-wrapper">
      <video id="remote-video" muted="true" width="100%" autoplay controls></video>
    </div>
  </div>
</div>
<input style="display:none;" id="identifier" type="text" value="<%= @screen_id %>" />
<% content_for :javascripts do %>
<script>jQuery(function(){ window['viewScreen'](); });</script>
<% end %>

<% else %>
  <div id="action-bar">
    <div id="action-bar-area">
    
      
      <div id="mute-button" class="action-bar-item unmuted" title="Mute">
        <div class="action-bar-icon"></div>
      </div>
      
      <div id="timer-button" class="action-bar-item right action-bar-dialog" title="Email form to send feedback">
        <div class="action-bar-text">Send Feedback</div>
        <div class="action-bar-icon"></div>
      </div>
      
      <div id="meander-button" class="action-bar-item right action-bar-dialog" title="FAQ">
        <div class="action-bar-text">FAQ</div>
        <div class="action-bar-icon"></div>
      </div>
      
      <div id="share-button" class="action-bar-item right action-bar-dialog" title="Share via Facebook, Twitter, etc.">
        <div class="action-bar-text">Share</div>
        <div class="action-bar-icon"></div>
      </div>
      
      <div id="email-button" class="action-bar-item right action-bar-dialog" title="Button">
        <div class="action-bar-text">Button</div>
        <div class="action-bar-icon"></div>
      </div>
      
    </div>
    
  </div>



<div class="row">
  <div class="large-12" id="ui">
    <div style="text-align:center">

      <br />
      <br />
      <h1>teleport screen</h1>
      <h4>one click secure screen sharing</h4>
      <br />
      <input style="width:25%;margin:0 auto;text-align:center;" id="identifier" type="text" placeholder="Identifier" /><br />
      <button id="share-btn" class="button round">Share A Screen</button>
      <%#<button id="view-btn" class="button round">View A Screen</button>%>
      <br />
      <a id="extension-install-button">
        Add to Chrome
      </a>
      <div id="sharing" style="display:none;">
        You are sharing a screen.<br />
        The screen can be viewed at <a href="https://rtc.ymme.info" target="_blank">https://rtc.ymme.info/<span class='id-placeholder'></span></a>
      </div>
      <div id="opened" style="display:none;">Someone opened a view of your screen</div>
    </div>
  </div>
</div>
<% end %>
