@font-face {
  font-family: 'facebook_letter_facesregular';
  src: url('/fonts/FACEBOLF-webfont.eot');
  src: url('/fonts/FACEBOLF-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/FACEBOLF-webfont.woff2') format('woff2'),
  url('/fonts/FACEBOLF-webfont.woff') format('woff'),
  url('/fonts/FACEBOLF-webfont.ttf') format('truetype'),
  url('/fonts/FACEBOLF-webfont.svg#facebook_letter_facesregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
