#service-name, #service-slogan { text-transform: lowercase; }

#sharing { font-size: 22px; }
.viewing-caption { text-align: center; }
.id-placeholder { font-weight: bold; }
input#site-url { text-align: left; border-right: 0; box-shadow: none; padding-right: 0; min-width: 160px; }
input#share-identifier { text-align: center; margin-bottom: 3px; }
button#start-screen-share { width: 25%; float: left; }

.reveal-modal.smallish { width: 50%; margin-left: 25%; }
/*#remote-video-wrapper { width: 50%; }*/

#share-steps {
  .images { clear: both; margin-bottom: 10px; }
  .steps-wrapper { margin: 0px auto; width: 650px; }
  .step { width: 216px; float: left; font-size: 12px; }
  .step-text { padding: 0 20px; }
  .step2 .step-text { padding: 0 35px; }
  .step3 .step-text { padding: 0 25px; }
}

/* view page */
#loader { text-align: center; }
#screen-not-found { text-align: center; }
